@model MvcStok.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
            {
                <div>
                    @Html.LabelFor(x => x.MUSTERIID)
                    @Html.TextBoxFor(x => x.MUSTERIID, new {@class = "form-control"})
                    <br />
                    @Html.LabelFor(x => x.MUSTERIAD)
                    @Html.TextBoxFor(x => x.MUSTERIAD, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(x => x.MUSTERISOYAD)
                    @Html.TextBoxFor(x => x.MUSTERISOYAD, new {@class = "form-control"})
                </div>
                <br />
                <div>
                    <button class="btn btn-warning">Müşteri Güncelle</button>
                </div>
            }

